.required::before {
    content: "必須";
    font-size: 15px;
    color: #ffffff;
    margin-right: 5px;
    margin-left: 5px;
    background: #b22222;
    padding: 1px 6px;
    border-radius: 4px;
}

.f_text > p {
    text-align: center;
}

.l_contact {
    padding: 50px 100px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
    gap: 20px 0px;
    font-size: 1.5rem;
}

.l_contact div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.l_contact div input::placeholder {
    color: #b1b0b0;
}

.l_contact div textarea::placeholder {
    color: #b1b0b0;
}

.l_contact > div > div {
    width: 100%;
}

.l_contact input {
    background-color: #F5EFE4;
    border-radius: 10px;
    padding: 10px 10px;
    width: 100%;
}

.l_contact > div > div {
    background-color: #F5EFE4;
    border-radius: 10px;
    padding: 10px 10px;
    width: 100%;
}

.l_contact textarea {
    background-color: #F5EFE4;
    border-radius: 10px;
    padding: 10px 10px;
    width: 100%;
}

.l_contact input:focus {
    outline: #b1b0b0 1px solid;
    border-radius: 10px;
    padding: 10px 10px;
}

.l_contact textarea:focus {
    outline: #b1b0b0 1px solid;
    border-radius: 10px;
    padding: 10px 10px;
}

.f_btn button {
    font-size: 1.5rem;
    background: #5DACC3;
    border-radius: 50px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto;
    max-width: 400px;
    padding: 10px 25px;
    color: #ffffff;
    transition: 0.3s ease-in-out;
    font-weight: 500;
 }
 .f_btn button:hover {
    background: #98B9C3;
    color: #ffffff;
 }
 .f_btn button:after {
    content: '';
    width: 7px;
    height: 7px;
    border-top: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    transform: rotate(45deg) translateY(-50%);
    position: absolute;
    top: 50%;
    right: 20px;
    border-radius: 1px;
    transition: 0.3s ease-in-out;
 }
 .f_btn button:hover:after {
    border-color: #ffffff;
 }
 