@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');


.header {
    width: 100%;
    background: #DCCFBC;
    } 

.l_contents {
   padding: 20px 0px;
}

.l_container {
   padding: 0px 12rem;
}

.l_logo {
   display: flex;
   justify-content: space-evenly;
}

.l_nav_container {
   padding: 15px 280px;
   display: flex;
   justify-content: space-evenly;
   width: 100%;
}

.l_nav_container > div {
   display: flex;
}

.p_nav {
   list-style: none;
   font-size: .875rem;
}

.l_nav_list {
   display: flex;
   justify-content: flex-end;
   width: 100%;
   align-items: center;
}

.l_nav_list li {
   border-right: solid 1px #FFFFFF;
   box-sizing: border-box;
}

.l_nav_list li:nth-child(1) {
   border-left: solid 1px #FFFFFF;
}

.c_text_nav {
   margin: 2px 25px;
   font-family: 'Oswald';
   font-weight: 500;
   font-size: 24px;
   line-height: 33px;
   color: #FFFFFF;
}

.c_text_nav:hover {
   color: #F5EFE4;
}

.l_nav_btn {
   display: flex;
   justify-content: flex-start;
   width: 100%;
   align-items: center;
}

.c_btn_nav {
   margin: 2px 10px;
}

#video {
   width: 100%;
   padding-bottom: 20px;
}

.l_title {
   display: flex;
   align-items: center;
   padding: 20px  40px 40px 40px;
   flex-direction: column;
}

h2 {
   font-family: 'Oswald';
   font-weight: 500;
   font-size: 64px;
   display: flex;
   align-items: center;
   text-align: justify;
   letter-spacing: -0.05em;
   text-decoration-line: underline;
   text-transform: uppercase;

   color: #107291;
}

.l_img-text {
   display: flex;
}

.l_img-text {
   padding-top: 10px;
   position: relative;
}

.l_img-text::before {
   position: absolute;
   background-color: #F5EFE4;
   content: "";
   width: calc(100% - 12rem);
   height: 100%;
   z-index: -10;
}

.l_concept_img::before {
   top: -30px;
   left: 230px;
}

.l_text {
   padding-top: 270px;
   width: 100%;
   display: flex;
   justify-content: space-evenly;   
}

.f_text {
   font-family: 'M PLUS 1';
   font-style: normal;
   font-weight: 300;
   font-size: 20px;
   line-height: 33px;
   color: #000000;
}

.l_cats_img::before {
   top: -30px;
   right: 200px;
}

.l_access_img::before {
   top: -30px;
   left: 220px;
}

.l_text_btn{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
}

.l_btn {
   padding-top: 50px;
   width: 100%;
   display: flex;
   justify-content: space-evenly; 
}

.f_btn a {
   background: #5DACC3;
   border-radius: 50px;
   position: relative;
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin: 0 auto;
   max-width: 400px;
   padding: 10px 25px;
   color: #ffffff;
   transition: 0.3s ease-in-out;
   font-weight: 500;
}
.f_btn a:hover {
   background: #98B9C3;
   color: #ffffff;
}
.f_btn a:after {
   content: '';
   width: 7px;
   height: 7px;
   border-top: 3px solid #ffffff;
   border-right: 3px solid #ffffff;
   transform: rotate(45deg) translateY(-50%);
   position: absolute;
   top: 50%;
   right: 20px;
   border-radius: 1px;
   transition: 0.3s ease-in-out;
}
.f_btn a:hover:after {
   border-color: #ffffff;
}

.footer {
   margin-top: 20px;
   width: 100%;
   background: #DCCFBC;
}

.l_footer {
   display: flex;
   flex-direction: column;
   align-content: space-between;
   align-items: center;
}

.f_footer_text {
   color: #ffffff;
}
